#navigator-toolbox {
    padding-bottom: 4px;
    border-bottom: 0 !important;
}

#sidebar-splitter {
    border: none !important;
    width: 8px !important;
}

/* TODO: unfortunately this also removes native Minimize/Maximize/Close buttons */
/* maybe that can be fixed? */
#TabsToolbar {
    visibility: collapse !important;
}

/* keep Minimize/Maximize/Close disabled for linux and mac
   because they'd just display blank space */
@media (-moz-platform: windows) {
    .titlebar-buttonbox-container {
        position: absolute;
        right: 0;
        height: 40px;
        display: flex;
        justify-content: center;
        width: 110px !important;
    }

    .titlebar-button {
        width: 36px !important;
    }

    #nav-bar {
        width: calc(100% - 110px);
    }
}

#sidebar-header {
    display: none;
}

#identity-icon-label {
    display: none;
}

#urlbar {
    left: 50% !important;
    transform: translateX(-50%);
    max-width: 960px !important;
}

#urlbar:not([breakout-extend]) #urlbar-background {
    background: none !important;
    background-color: transparent !important;
}

#sidebar-box {
    position: relative;
    min-width: 150px !important;
    max-width: 960px !important;
}

.sidebar-panel {
    background-color: transparent !important;
    color: var(--newtab-text-primary-color) !important;
}
